{{#partial "content"}}
    <h1>Your heroes</h1>
    {{#each myHeroes}}
        <div class="card">
            <div class="card-body">
                <div class="card-title">Hero</div>
                <div class="card-text"><strong>Name: </strong>{{name}}</div>
                <div class="card-text"><strong>Age : </strong>{{age}}</div>
                <div class="card-text"><strong>Strength : </strong>{{strength}}</div>
                <div class="card-text"><strong>Weakness : </strong>{{weakness}}</div>
                <div class="card-footer"><strong>Squad name</strong> : {{squadName}}</div>
            </div>
        </div>
    {{/each}}
{{/partial}}
{{#partial "footer"}}
    <button type="submit" class="back"><a href="/">Add More</a></button>
{{/partial}}
{{> layout.hbs}}